<h1>Productos</h1>

<%= 1 + 1 %> <br>
<%= Date.today %> <br>
<%= @products.count %> <br>
<% @products.each do |product| %>
    <h2><%= product.title %></h2>
    <span><%= product.price %>$</span>
<% end %>